[Desktop Entry]
Name=Triplane Classic
Comment=side-scrolling dogfighting game
Exec=triplane -nofullscreen -2
Icon=triplane.png
StartupNotify=false
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
